runpod==1.7.13
fastapi==0.111.0
uvicorn==0.30.3
python-multipart==0.0.9

diffusers==0.30.0
transformers==4.56.0
accelerate==1.10.1
safetensors==0.6.2
controlnet-aux==0.0.9
opencv-python-headless==4.10.0.84
timm==0.9.16
einops==0.8.1
scipy==1.11.4
huggingface_hub==0.34.4
numpy==1.26.4
